# Entornos virtuales
venv/
.env/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración de IDEs
.idea/
.vscode/
*.swp

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de dependencias locales o generados
*.db
*.sqlite3
*.xls
*.xlsx

# Archivos sensibles o configuraciones locales
*.env
*.key
